name: ci

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: maven

      - name: Build and test
        run: mvn -B -ntp clean verify

      - name: Static checks
        run: mvn -B -ntp checkstyle:check

      - name: Coverage report
        run: mvn -B -ntp jacoco:report

